/* Custom CSS */
.purp-text {
    color: rgb(125, 126, 192) !important;
  }

.tabs .indicator {
    background-color: rgb(125, 126, 192) !important;
}

.light-purp {
    color: rgb(191, 168, 191) !important;
}

.light-purp-badge {
    background-color: rgb(191, 168, 191) !important;
}

.dark-blue {
    background-color: rgb(24, 27, 94) !important;
}

.dark-blue-text {
    color: rgb(24, 27, 94) !important;
}

.btn,
.btn-large {
    background-color: rgb(125, 126, 192) !important;
}

.nav-wrapper {
    background-color: rgb(125, 126, 192) !important;
}

.bigger {
    size: 50px important!;
}